/* Global Style */
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
h2 {

font-family: 'Montserrat', sans-serif;

}

h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
}
h4 {

font-family: 'Montserrat', sans-serif;

}

 footer {
    color: black;
    text-align: center;
}
p{
    color: black;

}
h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    
}


#container {
}

/* End Global Styles */

/* Mobile Styles */

header {
    background-image: url(../images/slash.png);
    background-position: right -40px;
    background-repeat: no-repeat;
    background-size:180px;
    background-color: white;
    margin-top: -10px;
    height: 270px;
    display: black
;
}

.dropbtn {
    background-color: #3B7390;
    color: #F4D27F;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #F4D27F;
    color: #3B7390;
  }

header h1{
    position: absolute;
    left: 190px;
    top:0px;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}


header img {
    display: block;
    width: 35%;
    padding-top: 10px;
    padding-bottom: 0;
    margin-right: 60px;
    margin-left: auto;
    margin-bottom: 40px;
    display: block;
    filter: drop-shadow(17px -13px 0px  black);

}

header h2 {
position: relative;
bottom: 150px;
left: 2px;
text-align: left;
font-size: 1.1em;
   

}
header h3{
    position: relative;
    bottom: 170px;
    left: 2px;
    text-align: left;
    font-size: 1.8em;
}

header h4{
    position: relative;
    bottom: 190px;
    left: 2px;
    text-align: left;
    font-size: .8em;
}


#rectangle {
    width: 100%;
    height:150px;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
    background:#F4D27F;

    
}
#colabimg {
    width: 70%;
    display: block;
    -webkit-box-shadow: 19px -12px 0px 0px rgba(0,0,0,0.63); 
    box-shadow: 19px -12px 0px 0px rgba(0,0,0,0.63);
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;

}

nav {
    background-color: #3B7390;
    text-align: center;
    padding-bottom: 80px;
}

nav h1 {
    text-align: center;
    font-size: 2.0em;
    color: #ffffff;
}

nav h2 {
   text-align: center;
    font-size: 2.8em;
    margin-top: -15px;
    color: #F4D27F;
}





main {
  
    padding: 10px;
    
}
 main h1{
     text-align: center;
 }

main h2{
    text-align: center;
}
#webdesign {
    background-color: #f1f1f1;
}

#image_gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


#image_gallery img {
    width: 70%;
   padding: 20px;

}




article {
    padding: 40px,0 ;
    border-top: 2px solid;
    background-color: #E9EBFA;
    height: 550px;
}
article img {
    width: 30%;
    filter: drop-shadow(-10px 2px 0px rgba(0,0,0,0.63));
    margin-top: 35px;

}
article h1{
    text-align: center;
    margin-top: -40px;
    font-size: 2.3;
}

article h2{

    text-align: center;
    font-size: 1.1em;
    margin-top: -10px;
    contain: initial;
}
#icon {
    width: 40%;
    display: block;

}




/* End Mobile Styles */

/* Tablet Styles */
    
@media (min-width:768px) {

    header {
        height: 400px;
        background-size: 260px;
    }
    header img {
        float: none;
        width: 30%;
        margin-top: 10px;    
    }
    header h1{
        font-size: 1.8em ;
        text-align: right;
    }
    header h2{
        font-size: 3em;
        margin-top: -70px;
    }
    header h3{
        font-size: 4em;
        margin-top: -20px;
    }
    header h4{
        font-size: 1.7em;
        margin-top: -40px;

    }
    #rectangle {
        height: 682px;
        width: 300px;
        position: absolute;
        top: 34.25%;
    }
    nav {
        height: 600px;
    }

    #colabimg {
        width: 40%;
        margin-left: 40px;
        position: relative;
        top: 20%;
      
    }
     nav h1 {

        
         margin-left: 400px;
         margin-top: -190px;
         font-size: 4em;
     }
     nav h2{
        margin-left: 500px;
         font-size: 3.7em;
         margin-left: 400px;
     }

     main h1 {
            font-size: 4em;
            text-align: left;
     }
     main h2 {
         font-size: 2.4em;
         text-align: left;
     }
     .responsive {
        width: auto;
        margin: 6px 0;
      }
     article {
         height: 1000px;
     }
     article img{
         width: 40%;
     }
      article h1{
          font-size: 3.5em;
          top: 50px;
      }
}

/* End Tablet Styles*/

/* Desktop Styles*/

header {
    display: block;
    width: 70%;
}

header h1 {
    right: 600px;
    top: -10px;
}

header h2 h3 h4 {
    position: fixed;    
}

header img {
    display: block;
    width: 25%;
    
}
#rectangle {
    margin-top: 42px;
}
#colabimg {
    width: 30%;
}

article img{
    width: 20%;
   
}

/* End Desktop Styles*/