/* Global Style */
img {

    display: block;
    margin: 0 auto;
    width: 100%;
}


h1, h2, h3, {

font-family: 'Montserrat', sans-serif;
color: black;
text-align: center;

}

h4 {
    font-family: 'Poppins', sans-serif;
}

}

 footer {
    color: black;
    text-align: center;
}
p{
    color: black;

}
h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    
}


#container {
}

/* End Global Styles */

/* Mobile Styles */

header {
    
   
    background-repeat: no-repeat;
    background-size:160px;
    background-color: white;
   
    height: 290px;
    display: black;
    
    
}

header img {
  
    width: 36%;
    height: auto;
    float: right;
    display: block;
    margin-top: 20px;
    padding-right: 55px;
    filter: drop-shadow(17px -13px 0px  black);

}


.dropbtn {
    background-color: #3B7390;
    color: #F4D27F;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #F4D27F;
    color: #3B7390;
  }

  

header h1{
    position: absolute;
    left: 190px;
    top:0px;
    font-size: 5vw;
    font-family: 'Montserrat', sans-serif;
}

header h2 {

    margin-top: 25px;
    text-align: left;
    font-size: 4vw;
       
    
    }
    header h3{
    
        font-size: 7vw;
    }
    
    header h4{
       
       
        text-align: left;
        font-size: 3vw;
    }

#colabimg {
    width: 40%;
    display: block;
    -webkit-box-shadow: 19px -12px 0px 0px rgba(0,0,0,0.63); 
    box-shadow: 19px -12px 0px 0px rgba(0,0,0,0.63);
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;

}

nav {
    background-color: #3B7390;
    text-align: center;
    padding-bottom: 80px;
    margin-top: 90px;
}

nav h1 {
    text-align: center;
    font-size: 2.0em;
    color: #ffffff;
}

nav h2 {
   text-align: center;
    font-size: 2.8em;
    margin-top: -15px;
    color: #F4D27F;
}





main {
  
    padding: 10px;
    
}
 main h1{
     text-align: center;
 }

main h2{
    text-align: center;
}
#webdesign {
    background-color: #f1f1f1;
}

#image_gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}


#image_gallery img {
    width: 70%;
   padding: 20px;

}




article {
    padding: 40px,0 ;
    border-top: 2px solid;
    background-color: #E9EBFA;
    height: 550px;
}
article img {
    width: 30%;
    filter: drop-shadow(-10px 2px 0px rgba(0,0,0,0.63));
    margin-top: 35px;

}
article h1{
    text-align: center;
    margin-top: -40px;
    font-size: 2.3;
}

article h2{

    text-align: center;
    font-size: 1.1em;
    margin-top: -10px;
    contain: initial;
}
#icon {
    width: 40%;
    display: block;

}


/* End Mobile Styles */

/* Tablet Styles */
    
@media (min-width:768px) {

    header img{
        width: 28%;
        margin-right: 40px;
     
    }

    header h1{
        font-size: 1.8em ;
        text-align: right;
        margin-left: 210px;
    }
     h3 { 
         margin-top: -30px;
     }
     h4 {
         margin-top: -40px;
     }
    nav {
        height: 600px;
    }

    #colabimg {
        width: 40%;
        margin-left: 40px;
        position: relative;
        top: 20%;
      
    }
     nav h1 {

        
         margin-left: 400px;
         margin-top: -190px;
         font-size: 4em;
     }
     nav h2{
        margin-left: 500px;
         font-size: 3.7em;
         margin-left: 400px;
     }

     main h1 {
            font-size: 4em;
            text-align: center;
     }
     main h2 {
         font-size: 2.4em;
         text-align: center;
     }
     .responsive {
        width: auto;
        margin: 6px 0;
      }
     article {
         height: 1000px;
     }
     article img{
         width: 40%;
     }
      article h1{
          font-size: 3.5em;
          top: 50px;
      }
}

/* End Tablet Styles*/

/* Desktop Styles*/
@media (min-width: 1024px) {
    header img {
        width: 16%;
        margin-right: 300px;
        margin-top: -5px;
    }
    h2 {
       margin-bottom: -20px;

    }
    h4 {
        margin-top:-110px ;
    }

    #colabimg {
        width: 35%;
    }
   
}

/* End Desktop Styles*/